<!DOCTYPE html>
<html>
    <head>
        <title>Register Form</title>

    </head>

    <body>

        <center>
            <h3>Register Here</h3>
            
            <form action="register.php" method="post">
                <table>
                    <tr>
                        <td>First Name:</td>
                        <td>
                            <input type="text" name="name_first">
                        </td>
                    </tr>
                    <tr>
                        <td>Surname:</td>
                        <td>
                            <input type="text" name="name_last">
                        </td>
                    </tr>
                    <tr>
                        <td>Email Address:</td>
                        <td>
                            <input type="email" name="mail">
                        </td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>
                            <input type="Password" name="user_pass">
                        </td>
                    </tr>
                    <tr>
                        <td>Student or Teacher:</td>
                        <td>
                            <input type="radio" name="teacher_or_student">Student
                            <input type="radio" name="teacher_or_student">Teacher
                        </td>
                    </tr>
                </table>
            </form>

        </center>
    </body>
</html>